body{
    background-color: hsl(212, 45%, 89%);
    height: 500px;
}
.back{
    background-color: white;
    width: 250px;
    height: 380px;
    margin: 200px auto;
    border-radius: 20px;

}
.qr{
    width: 225px;
    height: 225px;
    position: relative;
    top: 10px;
    left: 12px;
    border-radius: 10px;
}
.text{
    text-align: center;
    width: 200px;
    margin: auto;
    position: relative;
    bottom: 320px;
    font-family: 'Outfit', sans-serif;
   
}
.text1{
    font-weight: 700;
    font-size: 0.9rem;
}
.text2{
    font-weight: 400;
    font-size: 0.75rem;
    color: gray;
}